* {
  box-sizing: border-box;
}

body {
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  display: grid;
  grid-template-rows: 60px 1fr;
  max-width: 1600px;
  min-width: 320px;
  margin: 0 auto;
}

/*begin header styles*/

header {
  display: flex;
  justify-content: space-between;
  background-color: #3E2A35;
  padding: 10px 20px 0px 20px;

}

h2 {
  padding-bottom: 10px;
}


.title-logo-art { 
 display: flex;
 }

.searchbar-art {
  display: flex;
}

.searchbar {
  border: solid 2px #d2cccd;
  border-radius: 5px 0px 0px 5px;
  color: #d2cccd;
  flex: 1;
  font-size: 15px;
  font-weight: 300;
  padding-left: 5px;
  height: 36px;
}

 .button-art {
  display: flex;
  justify-content: space-between;
 }

.search-btn {
  background-color: #d2cccd;
  border-radius: 0px 5px 5px 0px;
  border: solid 2px #d2cccd;
  height: 36px;
  margin-top: 0px;
}

h1 {
  font-size: 40px;
  font-weight: 800; 
}

.logo-pic {
  margin: 0px 5px;
}

img {
  height: 35px;
}
/*begin main styles (form section)*/

main {
  display: grid;
  grid-template-rows: 500px 1fr;
}

.input-sect {
  display: flex;
  background-color: #3E2A35;
}

input {
  height: 40px;
  margin-bottom: 20px;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.input-as-btn {
  height: 40px;
  width: 100%;
  text-align: center;
  background-color: #5B4447;
  padding: 2%;
  margin: 20px 0px;
}

form {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50%;
}

h2 {
  color: #C2B2B4;
}

button {
  background-color: #5B4447;
  color: #FFF;
  display: inline;
  height: 40px;
  width: 40%;
  border: none;
  margin-top: 20px;
  font-size: 16px;
}

button:hover {
  background-color: #938284;
}

/*begin main styles (gallery section)*/

.gallery-sect {
  padding: 40px;
  display: grid;
  grid-gap: 20px;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(5, 1fr);
  background-color: #C2B2B4;

}

.photo-card {
  display: grid; 
  height: 380px;
  width: 280px;
  background-color: #FFF;
  color: #3E2A35;
  grid-template-rows: 50px 1fr 1fr 50px;
}

.icon-div {
  background-color: #5B4447;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.fit-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

h3 {
  padding: 5px; 
}

.icons {
  padding: 2%;
}


.image-home {

}

/*hidden class doesn't appear in html*/
.hidden {
  display: none;
}

/*begin media queries*/

@media only screen and (max-width: 1550px) {

    form {
      width: 60%;
}

  .gallery-sect {
    grid-template-columns: repeat(4, 1fr);
    
  }
}

@media only screen and (max-width: 1250px) {

    form {
      width: 70%;
}

  .gallery-sect {
    grid-template-columns: repeat(3, 1fr);
    
  }
} 

@media only screen and (max-width: 950px) {

  form {
    width: 80%;
}

 .gallery-sect {
    grid-template-columns: repeat(2, 1fr);
    
  }
} 

@media only screen and (max-width: 750px) {

  form {
    width: 90%;
}

} 

@media only screen and (max-width: 650px) {

  .gallery-sect {
    grid-template-columns: 1fr;
    
  }
} 
