* {
  box-sizing: border-box;
}

body {
  background-color: #C2B2B4;
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  min-width: 320px;
  max-width: 1500px;
  display: grid;
  grid-template-rows: 60px 1fr;
}

/*begin header styles*/

header {
  display: flex;
  justify-content: space-between;
  background-color: #3E2A35;
  padding: 10px 20px 0px 20px;

}


.title-logo-art { 
 display: flex;
 }

.searchbar-art {
  display: flex;
}

.searchbar {
  border: solid 2px #d2cccd;
  border-radius: 5px 0px 0px 5px;
  color: #d2cccd;
  flex: 1;
  font-size: 15px;
  font-weight: 300;
  padding-left: 5px;
  height: 36px;
}

 .button-art {
  display: flex;
  justify-content: space-between;
 }

.search-btn {
  background-color: #d2cccd;
  border-radius: 0px 5px 5px 0px;
  border: solid 2px #d2cccd;
  height: 36px;
  margin-top: 0px;
}

h1 {
  font-size: 40px;
  font-weight: 800; 
}

.logo-pic {
  margin: 0px 5px;
}

img {
  height: 35px;
}
/*begin main styles (form section)*/

main {
  display: grid;
  grid-template-rows: 550px 1fr;
}

.input-sect {
  display: flex;
  background-color: #3E2A35;
}

input {
  height: 40px;
  margin-bottom: 20px;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.input-as-btn {
  height: 40px;
  width: 100%;
  text-align: center;
  background-color: #5B4447;
  padding: 2%;
  margin: 20px 0px;
}

form {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50%;
}

h2 {
  color: #C2B2B4;
}

button {
  background-color: #5B4447;
  color: #FFF;
  display: inline;
  height: 40px;
  width: 40%;
  border: none;
  margin-top: 20px;
  font-size: 16px;
}

button:hover {
  background-color: #938284;
}

/*begin main styles (gallery section)*/

.gallery-sect {
  padding: 20px 50px;
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: 4;
}

.photo-card {
  padding: 10px; 
  display: grid;
  height: 380px;
  width: 280px;
  background-color: #FFF;
  color: #3E2A35;
  grid-template-rows: 50px 1fr 1fr 50px;
}

.icon-div {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.fit-img {
  height: 100%;
  width: 100%;
}

.image-home {

}

/*begin media queries*/

